<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout.html}">
<div layout:fragment="content">

	<div class="card mt-3">
		<div class="card-header">
			Adicionar Pet
		</div>
		<div class="card-body">
			<form th:object="${estadia}" class="form" method="POST" th:action="@{/servico/adicionarPet(id=${servicoId})}">
				<input type="hidden" th:name="${servicoId}" th:value="${servicoId}">
				<div class="form-group mt-3">
					<label>Selecione o Pet:</label>
					<select class="form-select" th:field="*{pet}">
						<option th:each="pet : ${pets}" th:value="${pet.petId}" th:text="${pet.nome}">
					</select>
				</div>
				<div class="form-group mt-3">
					<label>Selecione a Data de entrada:</label>
					<input class="form-control" type="date" th:field="*{data_entrada}">
				</div>
				<div class="form-group mt-3">
					<label>Selecione a Data de Saída:</label>
					<input class="form-control" type="date" th:field="*{data_saida}">
				</div>
				<button class="btn btn-primary mt-3" type="submit">Adicionar Pet</button>
			</form>
		</div>
	</div>
</div>
</html>